<%- include('partials/header') -%>

<div class="box">
    <div class="movie w3-animate-opacity">
        <div class="upper-div">
        <img class="movie-poster " src="https://st1.bollywoodlife.com/wp-content/uploads/2022/09/Brahmastra-exciting-6.jpg" onerror="this.onerror=null; this.src='/images/default.png'">
        <h1>Brahmāstra Part One: Shiva</h1>
        <p>The story of Shiva – a young man on the brink of an epic love, with a girl named Isha. But their world is turned upside down when Shiva learns that he has a mysterious connection to the Brahmāstra... and a great power within him that he doesn’t understand just yet - the power of Fire.</p>
        <h3>Ratings: 6.4</h3>
        <h3>Runtime: 114 Minutes</h3>
        <h3>Revenue: 112232333</h3>
        <h3>Status: Released</h3>
        </div>

        <div class="lower-div">
            <h2>More Info</h2>
        </div>
    </div>
</div>


<%- include('partials/footer') -%>